<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<!-- 配置Maven build : Goals 参数 : mybatis-generator:generate -Dmybatis.generator.overwrite=true -->
<generatorConfiguration>
    <context id="MysqlContext" targetRuntime="MyBatis3" defaultModelType="flat">
        <!-- 生成的model实现Serializable借口 -->
        <plugin type="org.mybatis.generator.plugins.SerializablePlugin">
            <property name="suppressJavaInterface" value="false"/>
        </plugin>

        <!-- 该插件给实体类添加toString() -->
        <plugin type="org.mybatis.generator.plugins.ToStringPlugin"/>

        <!-- 生成一个新的selectByExample方法,接受一个RowBounds参数 -->
        <plugin type="org.mybatis.generator.plugins.RowBoundsPlugin"/>

        <!--关闭注释 -->
        <commentGenerator>
            <property name="suppressAllComments" value="true"/>
        </commentGenerator>

        <!--数据库连接信息 -->
        <!-- <jdbcConnection driverClass="com.mysql.jdbc.Driver" connectionURL="jdbc:mysql://10.0.41.100:3306/saashr_wangl?characterEncoding=utf8&amp;useSSL=false" userId="admin_wangl" password="2wsx8u7y1qaz">
        </jdbcConnection> -->
        <jdbcConnection driverClass="com.mysql.jdbc.Driver" connectionURL="jdbc:mysql://182.92.218.84:3306/fpog?characterEncoding=utf8&amp;useSSL=false" userId="root" password="sawelly">
        </jdbcConnection>
        <!--生成的model 包路径 -->
        <javaModelGenerator targetPackage="com.sawelly.fpog.entity" targetProject="src/main/java">
            <property name="enableSubPackages" value="ture"/>
            <property name="trimStrings" value="true"/>
            <!--<property name="rootClass" value="com.sawelly.fpog.BaseEntity"/>-->
        </javaModelGenerator>

        <!--生成xml mapper文件 路径 -->
        <sqlMapGenerator targetPackage="mapper" targetProject="src/main/resources">
            <property name="enableSubPackages" value="ture"/>
        </sqlMapGenerator>

        <!-- type="ANNOTATEDMAPPER",生成基于注解的Mapper接口
                type="MIXEDMAPPER",生成最小的基于注解的Mapper接口
                type="XMLMAPPER",生成SQLMap XML文件和独立的Mapper接口 -->
        <javaClientGenerator type="XMLMAPPER" targetPackage="com.sawelly.fpog.mapper" targetProject="src/main/java">
            <property name="enableSubPackages" value="ture"/>
            <!-- 生成所有dao的基类 -->
            <!--<property name="rootInterface" value=""/>-->
        </javaClientGenerator>
        <!--对应数据库表名,注意生成后注释掉,以免代码被覆盖 -->
         <!--<table tableName="sys_article" domainObjectName="Article" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false"-->
                <!--enableSelectByExample="false" selectByExampleQueryId="false" >-->
          <!--<generatedKey column="id" sqlStatement="MySql" identity="true"/>-->
         <!--</table>-->

        <table tableName="sys_product" domainObjectName="Product">
            <generatedKey column="id" sqlStatement="MySql" identity="true"/>
        </table>


    </context>
</generatorConfiguration>